[Desktop Entry]
Icon=text-html
Name=Lab Report
Type=Link
URL[$e]=https://docs.google.com/document/d/18pnKa-Vfa_XcKiDItY_fqGi5vz21zZfiK0GqgFag9gE/edit?usp=sharing
